.jumbotron {
    background: #ced4da;
    text-align: center;
    padding: 2%;
}

@media only screen and (max-width: 810px) {
      #fadeshow
      {
        display: none;
      }
}

.login-header {
    padding-top: 3%;
}


